---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_API_KEY&location=bakersfield&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Feb 2021 19:29:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"bakersfield"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bakersfield","adminArea5Type":"City","adminArea4":"Kern
        County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040241","unknownInput":"","type":"s","latLng":{"lat":35.373405,"lng":-119.018911},"displayLatLng":{"lat":35.373405,"lng":-119.018911},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_API_KEY&type=map&size=225,160&locations=35.373405,-119.018911|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1654612441"}]}]}'
  recorded_at: Mon, 08 Feb 2021 19:29:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely,alerts&lat=35.373405&lon=-119.018911&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.3734,"lon":-119.0189,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1612812548,"sunrise":1612795761,"sunset":1612834278,"temp":16.49,"feels_like":14.32,"pressure":1015,"humidity":47,"dew_point":5.15,"uvi":3.58,"clouds":1,"visibility":6437,"wind_speed":1.54,"wind_deg":210,"weather":[{"id":721,"main":"Haze","description":"haze","icon":"50d"}]},"hourly":[{"dt":1612810800,"temp":16.49,"feels_like":14.79,"pressure":1015,"humidity":47,"dew_point":5.15,"uvi":3.58,"clouds":1,"visibility":10000,"wind_speed":0.86,"wind_deg":154,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1612814400,"temp":17.39,"feels_like":16.17,"pressure":1014,"humidity":46,"dew_point":5.67,"uvi":3.95,"clouds":48,"visibility":10000,"wind_speed":0.32,"wind_deg":243,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1612818000,"temp":18.65,"feels_like":17.04,"pressure":1013,"humidity":42,"dew_point":5.5,"uvi":3.53,"clouds":76,"visibility":10000,"wind_speed":0.83,"wind_deg":285,"weather":[{"id":803,"main":"Clouds","description":"br[...]
