---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_API_KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1612931674,"sunrise":1612879162,"sunset":1612916945,"temp":22.82,"feels_like":14.54,"pressure":1011,"humidity":68,"dew_point":14.85,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":4.92,"wind_deg":359,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1612929600,"temp":22.82,"feels_like":14.54,"pressure":1011,"humidity":68,"dew_point":14.85,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":4.92,"wind_deg":359,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1612933200,"temp":26.62,"feels_like":19.04,"pressure":1013,"humidity":77,"dew_point":21.09,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":4.65,"wind_deg":21,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1612936800,"temp":28.45,"feels_like":21.63,"pressure":1014,"humidity":81,"dew_point":23.95,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":3.85,"wind_deg":30,"weather":[{"id":804,"main":"Clouds","description":"overcast
 [...]
