---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=kjdhfkjashfkjhaskjdfhaksh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001302ea1babc4a46c4ac9d2acf860925ef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19955'
      X-Ratelimit-Reset:
      - '1607504286'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Wed, 11 Nov 2020 03:55:14 GMT
recorded_with: VCR 6.0.0
