---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=kjdhfkjashfkjhaskjdfhaksh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PEXELS_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19953'
      X-Ratelimit-Reset:
      - '1607504286'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Wed, 11 Nov 2020 05:05:43 GMT
recorded_with: VCR 6.0.0
